[submodule "libpd"]
	path = libpd
	url = https://github.com/PerBlue/libpd.git
[submodule "pd-macambira"]
	path = pd-macambira
	url = https://github.com/rfabbri/pd-macambira.git
[submodule "libsndfile"]
	path = libsndfile
	url = https://github.com/erikd/libsndfile.git
